/* https://www.digitalocean.com/community/tutorials/css-scrollbars */

.fancy-scrollbar-container {
  --scrollbar-width: 0.5rem;
  --scrollbar-color: rgba(255, 255, 255, 0.75);
  --scrollbar-background-color: rgba(0, 0, 0, 0.3);
  --scrollbar-track-border-radius: 20px;
  @apply transition-all;

  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

/* Works on Chrome, Edge, and Safari */
.fancy-scrollbar-container::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

.fancy-scrollbar-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: var(--scrollbar-track-border-radius);
}

.fancy-scrollbar-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: var(--scrollbar-track-border-radius);
}

/* Start "show" styles */
.fancy-scrollbar-container.show-scrollbar {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background-color);
}

.fancy-scrollbar-container.show-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}

.fancy-scrollbar-container.show-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}
/* End "show" styles*/
