html{
  background: #191919;
}

.App {
  text-align: center;
  background: #191919;
  color: white;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

h1.title{
  font-weight: bold;
}

h3.horizontal-center{
  padding-left: 20px;
  padding-right: 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.form-group{
  margin-bottom: 0px!important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading-container{
  width: 70%;
  margin: auto;
  position: fixed;
  top: 10%;
  right: 0;
  bottom: 50%;
  left: 0;
}

img.loading{
  width: 70%;
  height: auto;
  border-radius: 25%;
  margin: auto;
  padding-bottom: 1em;
}

.Loader form {
  z-index: 100;
}

.row{
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.col-lg-6{
}

hr.star-light,
hr.star-primary {
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 2px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #306BAC;
}

hr.star-primary {
    border-color: #141B41;
}

hr.star-primary:after {
    color: #141B41;
    background-color: #fff;
}

.btn{
  background-color: rgba(0, 0, 0, 0.31)!important;
  border-color: #dbdbdb!important;
  color: #f5f5f5!important;
  text-shadow: 0 1px 0px #ccc!important;
}

@media(min-width:600px){
  img.loading{
    height: 100%;
    width: auto;
    border-radius: 25%;
    margin: auto;
    padding-bottom: 1em;
  }
}
