div .entry{
    text-align: center;
    margin: auto;
    max-width: 225px;
}

td{
    vertical-align: middle!important;
    padding: 10px!important;
    border-top: 0px!important;
}

div .wrap-text{
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.entry a {
    color: #337ab7;
    text-decoration: inherit;
}

.entry p {
    color: #ffff;
    text-decoration: inherit;
}

.entry:hover{
    text-decoration: inherit;
    filter: brightness(75%) !important;
	transition: filter 0.5s;
}

.entry a:hover{
    text-decoration: inherit;
}

@media(min-width:768px) {
    td{
        vertical-align: middle!important;
        padding: 15px!important;
        border-top: 0px!important;
    }
}