@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  @apply bg-[#181818] text-white;
}

@layer utilities {
  .text-black-outline {
    --outline-width: 0.5px;
    text-shadow: calc(0px - var(--outline-width)) calc(0px - var(--outline-width)) 0 #000,
      0 calc(0px - var(--outline-width)) 0 #000,
      var(--outline-width) calc(0px - var(--outline-width)) 0 #000, var(--outline-width) 0 0 #000,
      var(--outline-width) var(--outline-width) 0 #000, 0 var(--outline-width) 0 #000,
      calc(0px - var(--outline-width)) var(--outline-width) 0 #000,
      calc(0px - var(--outline-width)) 0 0 #000;
  }
}
