.seasonal-entry .seasonal-title {
    color: #ffff;
    text-decoration: inherit;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

div .seasonal-entry{
    text-align: center;
    margin: auto;
    width: 150px;
    padding-left: 2px;
    padding-right: 2px;
}