@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  @apply text-[14px] md:text-[16px];

  --mantine-color-text: rgb(255, 255, 255);
  --mantine-color-body: #181818;
  --mantine-color-dimmed: rgb(156 163 175);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-black-outline {
    --outline-width: 0.5px;
    text-shadow: calc(0px - var(--outline-width)) calc(0px - var(--outline-width)) 0 #000,
      0 calc(0px - var(--outline-width)) 0 #000,
      var(--outline-width) calc(0px - var(--outline-width)) 0 #000, var(--outline-width) 0 0 #000,
      var(--outline-width) var(--outline-width) 0 #000, 0 var(--outline-width) 0 #000,
      calc(0px - var(--outline-width)) var(--outline-width) 0 #000,
      calc(0px - var(--outline-width)) 0 0 #000;
  }
}
