/* https://www.digitalocean.com/community/tutorials/css-scrollbars */

body {
  --scrollbar-width: 0.5rem;
  --scrollbar-color: rgba(255, 255, 255, 0.75);
  --scrollbar-background-color: rgba(0, 0, 0, 0.3);
  --scrollbar-track-border-radius: 1rem;
}

*,
.fancy-scrollbar-container {
  &:hover {
    @extend .show-scrollbar;
  }
  &:hover::-webkit-scrollbar {
    @extend %show-scrollbar-webkit;
  }
  &:hover::-webkit-scrollbar-track {
    @extend %show-scrollbar-webkit-track;
  }
  &:hover::-webkit-scrollbar-thumb {
    @extend %show-scrollbar-webkit-thumb;
  }
}

/* Start "always-show" styles */
*,
.fancy-scrollbar-container-always-show {
  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar,
.fancy-scrollbar-container-always-show::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

*::-webkit-scrollbar-track,
.fancy-scrollbar-container-always-show::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
  border-radius: var(--scrollbar-track-border-radius);
}

*::-webkit-scrollbar-thumb,
.fancy-scrollbar-container-always-show::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-track-border-radius);
}
/* End "always-show" styles */

/* Start "without-width" styles */
.fancy-scrollbar-container-without-width {
  scrollbar-width: 0;
  scrollbar-color: transparent;
}

.fancy-scrollbar-container-without-width::-webkit-scrollbar {
  width: 0;
  height: var(--scrollbar-width);
}

.fancy-scrollbar-container-without-width::-webkit-scrollbar-track {
  background: transparent;
  border-radius: var(--scrollbar-track-border-radius);
}

.fancy-scrollbar-container-without-width::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: var(--scrollbar-track-border-radius);
}
/* End "without-width" styles */

/* Start "show" styles */
.show-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background-color);
}

%show-scrollbar-webkit,
.show-scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

%show-scrollbar-webkit-track,
.show-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}

%show-scrollbar-webkit-thumb,
.show-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}
/* End "show" styles*/
