.table {
  width: 0% !important;
  overflow: auto;
  margin: auto !important;
}

tbody {
  display: block; /* Disable tabular layout, and make <tbody> a flex item */
  margin: auto 0; /* Push to the center (vertically) */
}

@media (max-width: 767px) {
  .table-responsive {
    overflow: auto;
    border: 0px !important;
  }
}
